/* 16px === 1rem */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom left, rgb(109, 231, 111), rgb(19, 113, 132));
    background-repeat: no-repeat;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 75%;
}

@media screen and (min-width: 900px) {
    .container {
        width: 50%;
    }
}

@media screen {
    
}

.header {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-family: monospace;
    font-size: 1.25rem; 
}

.register {
    margin: auto;
    padding: 1rem;
    background-color: rgba(240, 248, 255, 0.577);
    min-width: 40vw;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 1.5rem;
}
.info{
    font-family: bradley hand ,cursive;
    font-size: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content div {
    width: 60%;
    font-size: 1.25rem;
    font-family: Tahoma;
}

.content div input[type="text"],.content div input[type="tel"],.content div input[type="email"] {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-width: 0rem;
    width: 100%;
}

.content div button {
    padding: 0.75rem;
    border-width: 0.1rem;
    border-color: steelblue;
    font-size: 0.95rem;
    border-radius: 0.75rem;
    background-color: rgba(109, 231, 111, 0.6);
    /* color: white; */
}

.radio-group input[type="radio"] {
    /* TODO: Remove default radio, add custom */
    font-size: 1.15rem;
    
}
.radio-group span{
    padding: 0.5rem;

}