/* 16px === 1rem */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to top right, rgb(112, 0, 110), rgb(38, 34, 106), rgb(9, 9, 9));
    background-repeat: no-repeat;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

hr {
    height: 0.1rem;
    background-color: red;
}

.container {
    width: 75%;
}

@media screen and (min-width: 55rem) {
    .container {
        width: 50%;
    }
}

.header {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-family: monospace;
    font-size: 1.4rem;

    /* color: azure; */
}

.register {
    margin: auto;
    padding: 1rem;
    background-color: rgba(240, 248, 255, 0.577);
    min-width: 40vw;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 1.5rem;
}

.info {
    font-family: bradley hand, cursive;
    font-size: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content div {
    width: 60%;
    font-size: 1.25rem;
    font-family: Comic Sans MS;
}

.content-title {
    padding-bottom: 0.5rem;

}

.content div input[type="text"],
.content div input[type="tel"],
.content div input[type="email"] {
    padding: 00.5rem;
    border-radius: 0.5rem;
    border-width: 0.2rem;
    border-color: transparent;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Comic Sans MS;
}

.content div input[type="text"]:hover,
.content div input[type="tel"]:hover,
.content div input[type="email"]:hover {
    background-color: rgb(209, 233, 255);
    width: 100%;
    /* background-size: 100%; */
    transition: all 0.5s ease-in-out;
    border-width: 0.2rem;
    border-color: rgb(197, 152, 176);
}

.content div input[type="text"]:focus,
.content div input[type="tel"]:focus,
.content div input[type="email"]:focus {
    background-color: rgb(209, 233, 255);
    width: 100%;
    /* background-size: 100%; */
    border-width: 0.2rem;
    border-color: rgb(197, 152, 176);
}

.year {
    border-radius: 0.5rem;
    ;
    padding: 0.5rem;
    width: 100%;
    font-family: Comic Sans MS;
}

.year:hover {
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    font-family: Comic Sans MS;
    background-color: rgb(224, 224, 224);
    transition: all 0.25s ease-in-out;
}

.year:focus {
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    font-family: Comic Sans MS;
    background-color: aliceblue;
    transition: all 0.1s ease-in-out;
}

.content div button {
    padding: 0.75rem;
    border-width: 0.2rem;
    border-color: steelblue;
    font-size: 0.95rem;
    border-radius: 0.75rem;
    background-color: rgb(102, 152, 168);
    font-family: Tahoma;
}

.content div button:hover {
    border-width: 0.2rem;
    border-color: rgb(205, 86, 86)
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
}

.radio-group input[type="radio"] {
    /* TODO: Remove default radio, add custom */
    /* font-size: 1.15rem; */
    margin-left: 0.1rem;
    width: 1.2rem;
}

/* input[type="radio"]:focus {
    margin-left: 0.1rem;
    width:1.2rem;
} */

.radio-group span {
    padding: 0.1rem;
    display: flex;
    flex-direction: row;
    width: 40%;
}

.radio-group {
    display: flex;
    flex-direction: row;
}

.gender {
    padding: 0.4rem;
}

@media screen and (max-width: 55rem) {
    .radio-group span {
        display: flex;
        flex-direction: row;
    }

    .radio-group {
        display: flex;
        flex-direction: column;
    }
}