* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom right,rgba(27, 215, 215, 0.581),rgb(0, 73, 122),rgb(50, 0, 76));
    background-repeat: no-repeat;
    background-size:200vw 200vh;
    padding: 10px;
}
.registerBox{
    background-color: rgba(240, 248, 255, 0.552);
    margin: auto;
    text-align: center;
    max-width: 70vw;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}
.info{
    font-family: cursive;
    font-size: 20px;
    color:darkslateblue;
}
hr{
    height: 1px;
    background-color: black;
}
.content{
    font-family:Trebuchet MS;
}
input[type=text]{
    min-width: 20vw;
    border-radius: 5px;
    padding: 5px;
}
input[type=email]{
    min-width: 20vw;
    border-radius: 5px;
    padding: 5px;
}
::placeholder{
    color: rgb(61, 93, 163);
}
.gender{
    padding: 10px;
}
.event{
    min-width: 15vw;
    border-radius: 5px;
    padding: 5px;
    font-family: Trebuchet MS;
}
input[type=button]{
    background-color: aquamarine;
    font-family: Trebuchet MS;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 5px;

}
.next{
    text-align: center;
    margin: auto;
    padding: 10px;
    min-width: 20vw;
}