* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h5 {
    text-align: center;
    margin: 1rem 0;
}

.faq {
    background: linear-gradient(to top right, rgba(51, 51, 213, 0.712), rgba(203, 73, 73, 0.734));
    color: rgb(255, 255, 255);
    width: 850px;
    font-family: cursive;
    margin: auto;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
}

.accordion {
    background-color: #eee;
    color: #444;
    font-family: trebuchet MS;
    cursor: pointer;
    padding: 18px;
    min-width: 786px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 0px;
    transition: border-radius 0.2s ease-in-out;
    display: inline-flex;
}

.active {
    background-color: #ccc;
    border-radius: 5px 5px 0px 0px;
}

.accordion:hover {
    background-color: #ccc;
}


.accordion-icon {
    font-family: monospace;
    color: #777;
    font-weight: bold;
    min-width: 1rem;
    float: right;
    align-self: center;
    font-size: x-large;
    transform: rotate(180deg);
    transition: all .4s ease-in-out;
}

.accordion-icon.active {
    transform: rotate(0deg);
}

.panel {
    padding: 0px 18px;
    background-color: white;
    max-height: 0;
    min-width: 750px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: black;
    font-family: trebuchet MS;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0px 0px 5px 5px;
    font-size: 15px;
}

.panel>p {
    height: 100px;
    padding: 20px 10px;
}